$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;

$header-height: 60px;
$min-width-container: 1200px;
$min-width-content: 1200px;
//

.abc {
  display: flex;
}
